@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.link-btn{
  @apply btn btn-active bg-linear-90 from-violet-500 to-red-500 text-white 
}
.loginandregister-btn{
@apply text-red-500 font-bold underline cursor-pointer
}
 @import "tailwindcss";
 
/* btn style */


.banner-btn{
  padding: 16px 50px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 14px;
  background: #111;
  letter-spacing: 1px;
  transition: transform 0.2s ease-in-out;
}

/* Hover Scale Effect */
.banner-btn:hover{
  transform: scale(1.05);
}

/* Background Layer */
.banner-btn::after{
  content: "";
  position: absolute;
  inset: 0;
  background: #111;
  border-radius: 14px;
  z-index: -2;
}

/* Glow Border Layer */
.banner-btn::before{
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(
    45deg,
    #ff0000, #ff7300, #fffb00, #48ff00,
    #00ffd5, #002bff, #ff00c8, #ff0000
  );
  background-size: 400%;
  filter: blur(10px);
  border-radius: 16px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: glow 15s linear infinite;
}

/* Glow animation */
@keyframes glow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Show glow on hover */
.banner-btn:hover::before{
  opacity: 1;
}

/* Active click effect */
.btn:active {
  transform: scale(0.98);
  color: #000;
  font-weight: bold;
}
